.jumbotron{
  margin-top: 0px;
}
#menu{
  margin: 12px 0px;
}
#menu li{
  display: inline-block;
}

#menu li.search input{
  height: 30px;
	line-height: 30px;
  position: relative;
  top: 7px;
  margin-left: 18px;
}

#menu li.search button{
  position: absolute;
  height: 30px;
  right: 0px;
  top: 7px;
  width: 30px;
}

#menu li a.tag-a{
  position: relative;
  top: -2px;
}

.img{
  width: 205px;
  height: 205px;
}

.resultTags{
  margin-bottom: 15px;
}
.logout{
  position: relative;
  top: -18px;
}
