<header>
  <div class="container">
    <h1 class="text-center jumbotron">Instagram Search</h1>
  </div>
  <div class="text-right logout">
    <a href="/logout" class="btn btn-danger">Sair</a>
  </div>
  <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
  <div class="container">
    <nav class="text-center" id="menu">
      <ul class="list-unstyled">
        <li><a ng-href="#/list" class="btn btn-primary tag-a">Lista de Tags</a></li>
        <li class="search">
          <div class="input-group">
            <form name="instaForm" ng-submit="searchInstagram(query)">
              <input type="search" placeholder="search..." ng-model="formData.tagInput" name="tag-input">
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <h2>Pesquisa de Tags</h2>
  <p ng-show="lists.length">Resultado: {{lists.length}}</p>
  <p class="text-info" ng-hide="lists.length">Sem resultados</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Foto</th>
        <th>Contato</th>
        <th>Curtidas</th>
        <th class="text-center">AÇÃO</th>
      </tr>
      <tr ng-repeat="k in lists">
        <td>
          <img class="img" ng-src="{{k.imagem}}" >
        </td>
        <td>{{k.nome}}</td>
        <td>{{k.like}}</td>
        <td class="text-center">
          <button class="btn btn-info" ng-click="save()">Salvar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
