<header>
  <div class="container">
    <h1 class="text-center jumbotron">Instagram Search</h1>
  </div>
  <div class="container">
    <nav class="text-center" id="menu">
      <ul class="list-unstyled">
        <li><a ng-href="#/list" class="btn btn-primary tag-a">Lista de Tags</a></li>
        <li class="search">
          <div class="input-group">
            <input type="search" placeholder="search...">
            <button><i class="fa fa-search"></i></button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <h2>Pesquisa de Tags</h2>
  <p>Resultado: {{total}}</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Foto</th>
        <th>Contato</th>
        <th>Curtidas</th>
        <th class="text-center">AÇÃO</th>
      </tr>
      <tr ng-repeat="k in lists">
        <td>
          <img class="img" ng-src="{{k.imagem}}" >
        </td>
        <td>{{k.nome}}</td>
        <td>{{k.like}}</td>
        <td class="text-center">
          <button class="btn btn-info">Salvar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
